FIREBASE_PROJECT_ID=portfolio-1a377
FIREBASE_CREDENTIALS_HOST_PATH=./lol/serviceAccountKey.json
CORS_ORIGINS=http://localhost:8080

MONGO_URL=mongodb://mongodb:27017/shop

# Incident simulation:
# Break Order/Product/Chat database access by changing Mongo hostname:
# MONGO_URL=mongodb://wrong-mongodb:27017/shop
